services:
  mysql:
    image: mysql:8.4
    environment:
      MYSQL_DATABASE: db_tenants
      MYSQL_USER: multitenancy
      MYSQL_PASSWORD: multitenancy
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3315:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:
